@import './variable.less';
@import './normalize.less';
@import './mixin.less';
@import './rem.less';
@import './grid.less';
@import './base.less';
@import './bar.less';
@import './card.less';
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout:none;
}

// We fix position the body and scroll `.content`.
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: @font-family-default;
  font-size: @font-size-default;
  line-height: 1.5;
  color: @color-text;
  background: @color-bg;
  overflow: hidden;
}

a, input, textarea, select, button {
    outline: 0;
}
a{
  color: @color-text
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: @color-bg;
  z-index: 2000;
}

// Wrapper to be used around all content not in .bar-title and .bar-tab
.content {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  background:#fff;
  z-index: 20;
  -webkit-overflow-scrolling: touch;
}
.wrap{
  .size(100%;100%)
}
.active{
  color:@color-primary
}
.avatar-img{
  .size(30px;30px);
  overflow: hidden;
  border-radius: 50%;
  margin-right:10px;
}
.img-wrap{
  display: block;
  overflow: hidden;
}
.ziteng-btn{
  .size(80%;40px);
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  background-color: @color-primary;
  color:#fff;
  font-size: 0.7rem;
}
.danger{
  font-size: 0.6rem;
  color:@color-danger!important
}
.textOn{
  color: @color-primary!important
}
//服务列表
.searchList-wrap{
    margin-top:40px;
    min-height: 460px;
}

.footer-btn-wrap{
  background-color: transparent!important;
  &:before{
    background-color:transparent;
  }
}

/*-----------------底部公共按钮样式*/
.footer-btn{
    display: inline-block;
    .size(85%;38px);
    background-color: @color-primary;
    border-radius: 8px;
    font-size: 0.7rem;
    line-height: 38px;
    border:none;
    text-align: center;
    color:#fff;
}

/*-------------------sticky-footer*/
.content-load-wrap{
   padding-bottom: 10px;
}
.content-wrap{
   min-height: 100%;
   padding-bottom: 60px;
}
.footer,.bottom{
  position: relative;
  margin-top: -60px;
  clear:both;
  text-align: center;
}
input[disabled]{
  background-color: transparent;
}

/*----------------------mint-ui样式重写*/
.mint-swipe-indicator{
  width: 18px;
  height: 3px;
  border-radius: 0;
  background-color: @color-danger;
  opacity: 0.3
}
.mint-swipe-indicator.is-active {
  background-color: @color-danger;
  opacity: 0.7
}

.small-cell {
  .mint-cell-wrapper{
    font-size:0.6rem!important;
  }
  .mint-cell{
      min-height: 40px;
    }
}
.message-content {
   .mint-cell{
      min-height: 60px;
   }
}
.mint-cell-wrapper{
  font-size: 0.7rem!important;
  font-weight: 400;
   background-image: linear-gradient(180deg, @color-split, @color-split 50%, transparent 50%);
   background-image: -webkit-linear-gradient(top, @color-split, @color-split 50%, transparent 50%);
   input{
    font-size: 0.6rem;
   }
   
}
.address-name {
  .mint-cell-value{
    width: 42%;
    .text-overflow();
    text-overflow: ellipsis
   }
}
.mint-cell{
    min-height: 42px;
}
.picker-item{
    font-size: 0.7rem;
    &.picker-selected{
    color: @color-primary
   }
}
.orderDetail{
  .mint-cell-wrapper{
    font-size: 0.6rem!important;
    font-weight: 400;
  }
  .mint-cell{
    min-height: 38px;
  }
}
.income-list {
   .mint-cell{
    min-height: 50px;
  }
}
.avatar-wrap .mint-cell-wrapper{
    background-size:0 0;
}

.mint-header  .backIcon {
  .square(35px);
  background:rgba(0,0,0,.4);
  border-radius: 100%;
}

/*新建服务地址*/
.editAddress {
  .value-input .mint-cell-value{
    width: 79%;
  }
  .edit-input{
    display: inline-block;
    .size(100%;40px);
    border:none;
    line-height: 40px;
  }
  .address-name{
    .mint-cell-title{
   }
  }
  
}

.sexPopup{
  width:100%;
  .sexPopup-top{
    height: 40px;
    .flexbox();
    .justify-content(space-around);
    .align-items(center);
    font-size: 0.65rem;
  }
 }
 .img-responsive{
  .size(100%; 100%);
 }
 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// 服务详情，预约订单 的公共footer样式
.serDetial-footer{
  .flexbox();
  .flex-wrap(nowrap);
  .justify-content(space-between);
  .align-items(stretch);
  .size(100%;50px);
  text-align: center;
  line-height: 50px;
  background-color: #fff;
  color: @color-text-secondary;
  font-size: 0.7rem;
  padding: 0;
  .message-btn,.store-btn{
    width: 25%;
    text-align: center;
    flex:1;
    &.on{
      color:@color-danger
    }
  }
  .store-btn{
    border-right: 1px solid @color-split;
  }
  .order-btn{
    width: 50%;
    background-color: @color-primary;
    color:#fff;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
.loadingIn{
  animation: fadeIn 2s forwards;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow:hidden;
}

.appServer-header{
    background:@color-primary;
    .size(100%;90px);
    padding-top: 10px;
    .appServer-path{
      margin:0; 
      color:#fff;
      font-size:0.7rem;
    }
    .path-icon{
      position: relative;
      .square(20px);
      box-sizing: border-box;
      background-color: red;
      border:3px solid red;
      border-radius: 50%;
      z-index:99;
      transition: all 0.4s;
      &.on{
        background-color: #fff;
      }
    }
    .appServer-path-item{
      display: inline-block;
      .size(30%;80px);
      line-height: 50px;
      position: relative;
      &:after,&:before{
        position:absolute;
        box-sizing: border-box;
        top:10px;
        content: '';
      }
      &:after,&:before{
        .size(100%;8px);
        background-color: red;
        left:50%;
        margin-top: -4px;
      }
      &:before{
        transition: all 0.4s;
        width: 0;
        height: 4px;
        margin-top: -2px;
        margin-left: 1px;
        background-color: #fff;
        z-index: 100
      }
      &.on{
        &:before{
          width:100%;
        }
      }
      &:last-child:after,&:last-child:before{
        content: none;
      };
    }
 }

 /*分享底部按钮*/
  .share-footer{
  background-color: #5B5B59;
  overflow-y: hidden;
  padding: 0 15px;
  .open-btn{
    display: inline-block;
    background-color: @color-primary;
    color:#fff;
    .size(100px;34px);
    line-height: 34px;
    border:none;
  }
  .share-footer-logo{
    .flexbox();
    .align-items(center);
    .logo{
      .square(34px);
      background-size: 34px 34px;
      margin-right: 8px;
      .bg-view-image('ServiceDetail/myIcon');
    }
  }
  .share-footer-text{
    height: 30px;
    text-align: left;
    line-height: 16px;
    font-size: 0.65rem;
    color:#fff;
    .share-footer-slogan{
      font-size: 0.5rem;
    }
  }
 }
 .order-nav{
  background:@color-primary;
  font-size:0.65rem;
  line-height:44px;
  color:rgba(255,255,255,0.4);
  .order-nav-active{
    color:#fff;
    font-size:0.7rem;
  }
}
.myFooter .count{
  .square(14px);
  line-height: 15px;
  font-size: 0.5rem;
  top:-7px;
  right:21px
}