@import './variable.less';
@import './normalize.less';
@import './mixin.less';
@import './rem.less';
@import './grid.less';
@import './base.less';
@import './bar.less';
@import './card.less';
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout:none;
}

// We fix position the body and scroll `.content`.
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: @font-family-default;
  font-size: @font-size-default;
  line-height: 1.5;
  color: @color-text;
  background: @color-bg;
  overflow: hidden;
}

a, input, textarea, select, button {
    outline: 0;
}
a{
  color: @color-text
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: @color-bg;
  z-index: 2000;
}

// Wrapper to be used around all content not in .bar-title and .bar-tab
.content {
  position: absolute;
  top: 44px;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  background:#fff;
  z-index: 20;
  -webkit-overflow-scrolling: touch;
}
.wrap{
  .size(100%;100%)
}
.active{
  color:@color-primary
}
.avatar-img{
  .size(30px;30px);
  overflow: hidden;
  border-radius: 50%;
  margin-right:10px;
}
.img-wrap{
  display: block;
  overflow: hidden;
}
.ziteng-btn{
  .size(80%;40px);
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
  line-height: 40px;
  background-color: @color-primary;
  color:#fff;
  font-size: 0.7rem;
}
.danger{
  font-size: 0.6rem;
  color:@color-danger!important
}
.textOn{
  color: @color-primary
}
//服务列表
.searchList-wrap{
    margin-top:40px;
    min-height: 460px;
}

.footer-btn-wrap{
  background-color: transparent!important;
}

/*-----------------底部公共按钮样式*/
.footer-btn{
    display: inline-block;
    .size(85%;38px);
    background-color: @color-primary;
    border-radius: 8px;
    font-size: 0.7rem;
    line-height: 38px;
    border:none;
    text-align: center;
    color:#fff;
}

/*-------------------sticky-footer*/
.content-load-wrap{
   padding-bottom: 10px;
}
.content-wrap{
   min-height: 100%;
   padding-bottom: 60px;
}
.footer,.bottom{
  position: relative;
  margin-top: -60px;
  clear:both;
  text-align: center;
}


/*----------------------mint-ui样式重写*/
.mint-cell-wrapper{
  font-size: 0.7rem!important;
  font-weight: 400;
   background-image: linear-gradient(180deg, @color-split, @color-split 50%, transparent 50%);
   background-image: -webkit-linear-gradient(top, @color-split, @color-split 50%, transparent 50%);
  input{
    font-size: 0.6rem;
  }
}
  .mint-cell{
    min-height: 42px;
  }
  .picker-item{
    font-size: 0.7rem;
    &.picker-selected{
    color: @color-primary
   }
}

.avatar-wrap .mint-cell-wrapper{
    background-size:0 0;
}

/*新建服务地址*/
.editAddress {
  .value-input .mint-cell-value{
    width: 79%
  }
  .edit-input{
    display: inline-block;
    .size(100%;40px);
    border:none;
    line-height: 40px;
  }
}

.sexPopup{
  width:100%;
  .sexPopup-top{
    height: 40px;
    .flexbox();
    .justify-content(space-around);
    .align-items(center);
    font-size: 0.65rem;
  }
 }
 .img-responsive{
  .size(100%; 100%);
 }
 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
.loadingIn{
  animation: fadeIn 2s forwards;
}